.input {
  width: 100%;
  box-sizing: border-box;
  padding: 17px 24px;
  border-radius: 30px;
  border: 1px solid rgb(225, 231, 234);
  font-size: 1rem;

  &:focus {
    border: 1px solid rgb(155, 161, 165);
    outline: none;
  }
}

.label {
  width: 100%;
  box-sizing: border-box;
  color: rgb(178, 176, 183);
  font-size: 0.9rem;
  position: relative;
  bottom: -0.4rem;
  padding: 0 10px 0 (24+1px);
  background: #fff;
}
