.base {
  transition: opacity 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  border: 0;
  border-radius: 2em;
  background-color: transparent; // secondary
  width: 100%;
  color: #333; // secondary
  font-weight: 700;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    filter: invert(75%);
    cursor: not-allowed;

    &:hover {
      opacity: inherit;
    }
  }
}

.primary {
  background-color: #1ea7fd;
  color: white;
}

.small {
  padding: 10px 16px;
  font-size: 12px;
}
.medium {
  padding: 11px 20px;
  font-size: 14px;
}
.large {
  padding: 12px 24px;
  font-size: 16px;
}
