.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3rem;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 20rem;
}

.container {
  padding-right: max(env(safe-area-inset-right, 1rem), 1rem);
  padding-left: max(env(safe-area-inset-left, 1rem), 1rem);
}
